#auth-container {
    padding: 30px;
}

.text-centered {
    text-align: center;
}

.title {
    font-size: @font-title;
}

#auth-box {
    width: 23em;
    height: 275px;
    margin-top: 50px;
    position: relative;
    .rounded();
}

.auth-box-header {
    background: @red-soft;
    height: 50px;
    color: white;
    padding: 15px;
}

.auth-field {
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 10px 20px;

    input {
        box-shadow: none;
        border: none;
        width: 100%;

        &:focus {
            outline: none !important;
        }
    }

    .field-name {
        font-size: 12px;
        font-weight: 700;
    }
}

.overlay {
    position: absolute;
    height: 225px;
    background: rgba(66, 66, 66, 0.95);
    z-index: 10;
    display: none;
    &:extend(.rounded-bottom);
}

#auth-box-footer {
    height: 50px;
    padding: 9px 8px;
    position: absolute;
    bottom: 0;
}

.btn-blue {
    .bg-style(@blue-soft, @white);

    &:active,
    &:focus,
    &:hover {
        color: @white !important;
        outline: none !important;
    }

}

.text-error {
    color: @red !important;
}

.field-error {
    border-bottom: 1px solid @red;
}
