.container-small {
    width: 25%;
}

.container-med {
    width: 50%;
}

.container-large {
    width: 75%;
}

.container-full {
    width: 100%;
}

.container-centered {
    margin: 0 auto;
}

.bg {
    &:extend(.container-full);
    .fill-height();
}

.bg-blue {
    .bg-style(@blue-soft, @white);
}

.bg-white {
    .bg-style(@white, @grey);
}

.rounded-top {
    .rounded(4px, 4px, 0px, 0px);
}

.rounded-bottom {
    .rounded(0px, 0px, 4px, 4px);
}

.shadow {
    box-shadow: 0px 1px 29px @grey !important;
}
