.container-small {
    width: 25%;
}

.container-med {
    width: 50%;
}

.container-large {
    width: 75%;
}

.container-full {
    width: 100%;
}

.container-centered {
    margin: 0 auto;
}

.container-fill(@top:0; @bottom:0) {
    position: absolute;
    top: @top;
    bottom: @bottom;
}

.rounded-top(@size: '2px') {
    border-top-left-radius: @size @size;
    border-top-right-radius: @size @size;
}

.rounded-bottom(@size: '2px') {
    border-bottom-left-radius: @size @size;
    border-bottom-right-radius: @size @size;
}

.rounded-top-sm {
    .rounded-top('2px');
}

.rounded-top-md {
    .rounded-top('4px');
}

.rounded-top-lg {
    .rounded-top('8px');
}

.rounded-bottom-sm {
    .rounded-bottom('2px');
}

.rounded-bottom-md {
    .rounded-bottom('4px');
}

.rounded-bottom-lg {
    .rounded-bottom('8px');
}

