.app-space {
    display: inline-block;
}

.app-container {
    float: left;
    padding: 15px;
}

.shadow {
    box-shadow: 0px 0px 10px;
}

#notebox {
    width: @box-rect-med-wide-width;
    height: @box-rect-med-wide-height;
}

#collabedit{
    width: @box-rect-big-long-width;
    height: @box-rect-big-long-height;
}

