.app-space {
    display: inline-block;
}

.app-container {
    float: left;
    padding: 15px;
}

.shadow {
    box-shadow: 0px 0px 10px;
}

#notebox {
    width: @box-rect-med-wide-width;
    height: @box-rect-med-wide-height;
}

#collabedit{
    width: @box-rect-big-long-width;
    height: @box-rect-big-long-height;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0096d2;
    opacity: 1;
}

.modals {
     visibility: true;
     position: absolute;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     text-align: center;
     z-index: 1000;
}

.modals div {
     width: 300px;
     margin: 100px auto;
     background-color: #fff;
     border: 1px solid #000;
     padding: 15px;
     text-align: center;
}

#error_label {
    color: red;
    font-size: 12px;
}

