.container {
  width: 100%;
  padding: 1em;
}
.rounded-top-sm {
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
}
.rounded-top-md {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}
.rounded-top-lg {
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
.rounded-top-xl {
  border-top-left-radius: 12px 12px;
  border-top-right-radius: 12px 12px;
}
.rounded-bottom-sm {
  border-bottom-left-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
}
.rounded-bottom-md {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}
.rounded-bottom-lg {
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}
.rounded-bottom-xl {
  border-bottom-left-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
