<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/akobi.css">
    <title>{% block title %}Akobi{% end %}</title>
    {% block headextras%}{% end %}
  </head>

  <body>
    {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Akobi</a>
            </div>
        </div><!-- /.container-fluid -->
        </nav>
    {% end %}

    {% block content %}{% end %}
  </body>
</html>
