<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CollabEdit</title>
  <script src="http://54.186.180.211/static/scripts/diff_match_patch.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
</head>
<body>
  <textarea name="Text1"  id = "1" cols="40" rows="5"></textarea>
  <script>
    var interviewID = window.location.pathname.split('/')[2];
    var webSocket = new WebSocket('ws://localhost:8888/i/' + interviewID + '/socket');

    // Setup Heartbeats
    var heartbeat = {
        datetime: "",
        type: "heartbeat",
        clientID: "",
        interviewID: interviewID,
        data: {}
    }

    // Send CollabEdit Initialization
    // TODO make this dependent on text being entered
    var initialization = {
        datetime : "",
        type: "collabedit",
        clientID: "",
        interviewID: interviewID,
        data: {
          type: 0,
          data: {}
        }
    }

    webSocket.onopen = function(){
        webSocket.send(JSON.stringify(heartbeat))
        setInterval(function(){webSocket.send(JSON.stringify(heartbeat))}, 1000)
        webSocket.send(JSON.stringify(initialization))
    }

  	var diffObj = new diff_match_patch();
  	var text1Shadow = "";

    webSocket.onmessage = function (evnt){
      msg = JSON.parse(event.data);
      console.log("got message: " + JSON.stringify(msg));
      msg = msg.data;

      switch (msg.type){
        case 1:
          to_send = {
            datetime: "",
            type: "collabedit",
            clientID: "",
            interviewID: interviewID,
            data: {
              type: 2,
              data: get_diff()
            } 
          }
          console.log("sending msg: " + JSON.stringify(to_send));
          webSocket.send(JSON.stringify(to_send));
          break;
        case 3:
          console.log("applying diff: " + JSON.stringify(msg.data));
          apply_diff(msg.data);
          ack = {
            datetime: "",
            type : "collabedit",
            clientID: "",
            interviewID: interviewID,
            data : {
              type : 4,
              data : {}
            }
          }
          webSocket.send(JSON.stringify(ack));
          break;
      }
    }

    function get_diff(){
      var text1 = $("#1").val();

      console.log("");
      console.log("text1: " + text1)
      console.log("text1Shadow: " + text1Shadow)
      diff =  diffObj.diff_main(text1Shadow, text1);
      // Save the current text to diff agaisnt in future.
      text1Shadow = text1;

      console.log("");
      console.log("got_diff");
      console.log("Diff: " + diff);
      console.log("text1shadow: " + text1Shadow);
      console.log("text1: " + text1);
      return diff;
    }


    function apply_diff(diff){
      // Generate the patches.
      var patch = diffObj.patch_make(text1Shadow, diff);

      // Patch the shadow then the main text.
      text1Shadow = diffObj.patch_apply(patch, text1Shadow)[0];
      $("#1").val(diffObj.patch_apply(patch, $("#1").val())[0]);

      console.log("applied diff: " + patch);
      console.log("text1shadow: " + text1Shadow);
      console.log("text1: " + $("#1").val());
    }
  </script>
</body>
</html>