{% extends "base.html" %}

{% block content %}
  <h1>Create your interview</h1>
  <h2>(1) Choose your Modules</h2>
  <form action="/setup_complete" method="get">
    {% for application in applications %}
    <input type="checkbox" class="checkbox" name="{{ application }}">{{ application }}</input>
    <br/>
    {% end %}
    <h2>(2) Enter email of interviewer:</h2>
    <input type="text" name="interviewer_email"/>
    <h2>(3) Enter email of interviewee:</h2>
    <input type="text" name="interviewee_email"/>
    <h2>(4) Profit</h2>
    <input type="submit" value="Profit">
  </form>
{% end %}
