<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tornado WebSocket Sample</title>
  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://54.186.180.211/static/scripts/akobi_lib.js"></script>
</head>
<h1>{{ applications }}</h1>
<body>
  {% if applications["Notes"][0] == "on" %}
    <textarea id="notes" rows="4" cols="50">
    Enter your interview notes here. They will be emailed to you at the end of the interview.
    </textarea>
  {% end %}
  <script>

    function sendHeartbeat(){
        sendMessage("heartbeat", clientID, interviewID, webSocket, {});
    }

    function sendNotes(){
        sendMessage("notes", clientID, interviewID, webSocket,
            JSON.stringify(notes.value));
    }

    var interviewID = window.location.pathname.split('/')[2];
    var webSocket = new WebSocket(
        'ws://localhost:8888/i/' + interviewID + '/socket');
    var clientID = '';
    var notes = document.querySelector('#notes');
    var heartbeatTimer = null;
    var notesTimer = null;

    function initInterview(clientID) {
        sendMessage('init_interview',
                    clientID,
                    interviewID,
                    webSocket,
                    '{}');
     }

    function sendHeartbeat(){
        sendMessage("heartbeat", clientID, interviewID, webSocket, '{}');
    }

    function sendNotes(){
        sendMessage("notes", clientID, interviewID,webSocket,
            JSON.stringify(notes.value));
    }

    webSocket.onmessage = function (evt) {
        console.log('Received from web socket: ' + evt.data);

        type = JSON.parse(evt.data).type;
        if(type == 'heartbeat_response') {
          return;
        }

        if (type == 'open_response') {
          clientID = JSON.parse(evt.data).clientID;
          initInterview(clientID);
          heartbeatTimer = setInterval(sendHeartbeat, 5000);
          if (notes){
            notesTimer = setInterval(sendNotes, 5000);
          }
            return;
        }
    };

    webSocket.onclose = function(){
        clearInterval(heartbeatTimer);
        clearInterval(notesTimer);
    }

  </script>
</body>
</html>

